.club-card {
  border: 1px solid #ddd;
  padding: 20px;
  width: 260px;
  text-align: center;
  border-radius: 10px;
  background-color: #fff;
}

.club-card img {
  width: 80px;
  margin-bottom: 10px;
}