body {
  margin: 0;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #f5f5f5;
}

main {
  text-align: center;
  padding: 20px;
}

header {
  width: 100%;
  background-color: #282c34;
  color: white;
  padding: 20px;
  text-align: center;
}

footer {
  width: 100%;
  background-color: #282c34;
  color:white;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}